*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f4f8fb;
color:#333;
}

header{
background:#0f172a;
padding:20px 8%;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
}

.logo{
font-size:1.8rem;
font-weight:700;
color:white;
}

nav{
display:flex;
gap:25px;
}

nav a{
color:white;
text-decoration:none;
font-weight:600;
transition:.3s;
}

nav a:hover{
color:#38bdf8;
}

.hero{
height:90vh;
background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e');
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.hero h1{
font-size:4rem;
margin-bottom:20px;
}

.hero p{
font-size:1.2rem;
margin-bottom:30px;
}

.btn{
background:#38bdf8;
padding:15px 30px;
border-radius:30px;
text-decoration:none;
color:white;
font-weight:bold;
}

.btn:hover{
background:#0284c7;
}

.sobre,
.video,
.pagina{
padding:80px 8%;
text-align:center;
}

.cards{
display:flex;
gap:30px;
justify-content:center;
margin-top:40px;
flex-wrap:wrap;
}

.card{
background:white;
padding:30px;
width:300px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,.1);
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.galeria{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.galeria img{
width:350px;
height:250px;
object-fit:cover;
border-radius:20px;
}

form{
max-width:600px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

input,
textarea{
padding:15px;
border:1px solid #ddd;
border-radius:10px;
}

button{
padding:15px;
background:#38bdf8;
border:none;
border-radius:10px;
color:white;
font-size:1rem;
cursor:pointer;
}

button:hover{
background:#0284c7;
}

footer{
background:#0f172a;
color:white;
text-align:center;
padding:25px;
margin-top:50px;
}